<div class="" style="background-color: rgb(245, 245, 245);">
  <div class="container py-5">
    <div class="search-container" style="padding-top: 50px; padding-bottom: 50px;">
      <div class="search-wrapper border">
        <div class="search-header">

          <!-- Search Bar  -->
          <div class="search-input-group">
            <input type="text" class="search-input form-control" placeholder="Search Movie Catalogue">
          </div>

          <!-- Drop down menus  -->
          <div class="row yPad">
            <div class="col-sm">
              <select class="form-select mb-2 mb-lg-0 filter-input" aria-label="Purpose">
                <option selected>Category</option>
                <option value="1">Favorites</option>
                <option value="2">Action</option>
                <option value="3">Drama</option>
                <option value="4">Crime</option>
                <option value="5">Horror</option>
                <option value="6">Comedy</option>
                <option value="7">Sci Fi</option>
              </select>
            </div>
            <div class="col-sm">
              <select class="form-select mb-2 mb-lg-0 filter-input" aria-label="Location">
                <option selected>Rating</option>
                <option value="1">9-10</option>
                <option value="2">8-9</option>
                <option value="3">7-8</option>
                <option value="4">6-7</option>
                <option value="5">5-6</option>
                <option value="6">0-5</option>
              </select>
            </div>
            <div class="col-sm">
              <select class="form-select mb-2 mb-lg-0 filter-input" aria-label="Type">
                <option selected>Release Date</option>
                <option value="1">2020</option>
                <option value="2">2010</option>
                <option value="3">2000</option>
                <option value="4">1990</option>
                <option value="5">1980</option>
                <option value="3">1970</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Search Button  -->
        <div class="padAround">
          <button type="submit" class="btn btn-primary btn-lg billboard-search maxWidth">Search</button>
        </div>
      </div>
    </div>

    <!-- Movie Cards  -->
    <app-moviecard></app-moviecard>

  </div>
</div>