<div class="" style="background-color: rgb(245, 245, 245);">
    <div class="container py-5">
      <div class="search-container" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="search-wrapper border">
          <div class="search-header">
  
            <header class="py-lg">

                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="text-center text-xl-start">
                                <h1 class="display-5 fw-bolder mb-2">Movie Title Here</h1>
                                <p class="lead fw-normal mb-4">Dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer
                                    took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-xl-block text-center"><img class="img-fluid rounded-3 my-1"
                                src="https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg" alt="..." /></div>
                    </div>
            </header>
  
          <!-- Search Button  -->
          <div class="">
            <div class="btn-group btn-group controlButton" data-toggle="buttons">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-danger">Danger</button>
              </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>