<div style="padding: 10px 10px 10px 10px;">
<div style="position: relative; width: 300px; height: 500px;">
    <div class="container">
    <img class="styleImage" src="https://image.tmdb.org/t/p/w500/1E5baAaEse26fej7uHcjOgEE2t2.jpg" alt="Image Not Found">
    <div class="overlay">
        <div class="textTitle">Movie Title Here</div>
        <div class="textRating">0/10</div>
        <div class="textDate">Released: 2025-17-3</div>
        <div class="textDiscription">Movie Description Here: Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</div>
        <button type="button" class="btn btn-primary buttonStyle">Add Favourite</button>
    </div>
    </div>
</div>
</div>