div {
    height: 80px;
    background-color: rgb(238, 238, 238);
}

.nav-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: grey;
}