<html>
<body class="backGroundGrey">
    <header
        style="height: 750px; background-position: 28% 30%; background-image: url('https://wallpaperbat.com/img/645711-firewatch-blue-wallpaper.png')">

        <!-- Landing Page Main Text-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder mb-2">Discover Now!</h1>
                            <p class="lead fw-normal mb-4">Dummy text of the printing and typesetting industry. Lorem
                                Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer
                                took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Start Searching</a>
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Film Suggestions</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png" alt="..." /></div>
                </div>
            </div>
        </header>
    </header>

    <!-- Bottom section-->
    <section class=" py-5" id="features">
        <div class=" container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">A better way to start <span
                            style="color: rgb(30, 110, 225);">Discovering.</span></h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-collection"></i></div>
                            <h2 class="h5">Title One</h2>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the
                                readable
                                content of a page when looking at its layout.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-building"></i></div>
                            <h2 class="h5">Title Two</h2>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the
                                readable
                                content of a page when looking at its layout.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Title Three</h2>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the
                                readable
                                content of a page when looking at its layout.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                    class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Title Four</h2>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the
                                readable
                                content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>